
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/index.css">
</head>

<body >
   <%- include('../includes/navigation.ejs') %>
        
    <main class="main-index">
      <div class="index-container">

        <div class="furniture">
   
     
      <div class="print">
       <h1>Namještaj po mjeri</h1> 
       <h2>U zavinosti od želja naših kupaca, nudimo
          izradu namještaja od punog drveta, iverice i medijapana.</h2>
      </div>
      <img class="image" src="/images/site/enterijer.jpg">
    
  </div>
  <div class="exterior">
    
        <div class="print__exterior">
         <h1>Drvo u eksterijeru</h1> 
        </div>
        <img class="image" src="/images/site/eksterijer.jpg">
      </div>
    
   
  
    </div>

    </main>
  <%- include('../includes/footer.ejs') %>
